## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [31]:
# Your code here
tup=tuple("I,")

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [32]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [74]:
# Your code here
tup=list(tup)
type(tup)
tup=["I,"]
elements=["r", "o", "n", "h", "a", "c", "k",]
for i in elements:
    tup.append(i)
print(tup)
# Your explanation here
""" Primero convierto la tupla en una lista y después apendeo los nuevos elementos en la lista creada, tup"""

['I,', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

' Primero convierto la tupla en una lista y después apendeo los nuevos elementos en la lista creada, tup'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [73]:
# Your code here
tup=tuple(tup)
print(tup)
# Your explanation here
"""Convierto la lista en una tupla"""

('I,', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

'Convierto la lista en una tupla'

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [139]:
# Your code here
tup=['I,', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
tup1=[]
tup2=[]

tup1.append(tup[0:4])
tup2.append(tup[4:9])

print(tup1)
print(tup2)

[['I,', 'r', 'o', 'n']]
[['h', 'a', 'c', 'k']]

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [135]:
# Your code here
tup1 = ['I,', 'r', 'o', 'n']
tup2 = ['h', 'a', 'c', 'k']
tup3 = tup1+tup2
print(tup3)
tup3 == tup

['I,', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [153]:
# Your code here
tup1 = ['I,', 'r', 'o', 'n']
tup2 = ['h', 'a', 'c', 'k']
print(len(tup1))
print(len(tup2))
print(len(tup1)+len(tup2))
len(tup3)==len(tup1)+len(tup2)

4
4
8

True

#### What is the index number of `"h"` in `tup3`?

In [155]:
# Your code here
tup3 =['I,', 'r', 'o', 'n','h', 'a', 'c', 'k']
print(tup3.index("h"))

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [158]:
# Your code here
tup3 =['I,', 'r', 'o', 'n','h', 'a', 'c', 'k']
letters = ["a", "b", "c", "d", "e"]
for i in letters:
    if i in tup3:
        print("True")
    else:
        print("False")

True
False
True
False
False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [163]:
# Your code here
tup3.count("a")
tup3.count("c")

1